body{
    background-image:linear-gradient(#0c0c0c,#3b3e42 );
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header{
    display: flex;
    justify-content: center;
    padding: 10px;
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
}

.container{
    justify-content: center;
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
    font-family: monospace;
    font-size: 15pt;
}

#timer, #score, #level, #high-score{
    color: rgba(255, 255, 255, 0.8);

}

#current-word{
    color: rgba(255, 255, 255);

}

#alert{
    color: rgba(255, 255, 255);
}

#input-word{
    width: 300px;
    height: 40px;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.9);
    background : rgba(255, 255, 255, 0.1);
    font-size: 25px;
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: 3px;
}

#start-button{
    background-color: rgba(226, 34, 34, 0.9);
    width: 120px;
    height: 50px;
    border: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.7);
}

#restart-button{
    visibility: hidden;
    background-color: rgba(226, 34, 34, 0.9);
    width: 150px;
    height: 50px;
    border: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 10px;
}